.auth-container{
display:flex;
align-items:center;
justify-content:center;
min-height:85vh;
padding:30px;
}

/* CARD */

.auth-card{
width:420px;
background:var(--card);
padding:36px;
border-radius:16px;
box-shadow:0 20px 60px rgba(0,0,0,.25);
text-align:center;
transition:.3s;
}

.auth-card:hover{
transform:translateY(-6px);
box-shadow:0 0 20px rgba(255,153,51,.45);
}

.auth-card h2{
margin-bottom:6px;
}

.auth-sub{
font-size:14px;
opacity:.7;
margin-bottom:26px;
}

/* FORM */

.auth-card form{
display:flex;
flex-direction:column;
gap:16px;
}

.auth-card input,
.auth-card select{
padding:14px;
border-radius:10px;
border:1px solid #ccc;
font-size:15px;
background:var(--card);
color:var(--text);
transition:.25s;
}

.auth-card input:focus,
.auth-card select:focus{
outline:none;
border-color:var(--accent);
box-shadow:0 0 10px rgba(255,153,51,.3);
}

/* BUTTON */

.auth-card button{
padding:14px;
border:none;
border-radius:10px;
background:var(--accent);
color:#fff;
font-size:16px;
font-weight:700;
cursor:pointer;
transition:.25s;
}

.auth-card button:hover{
transform:translateY(-2px);
box-shadow:0 10px 25px rgba(255,153,51,.5);
}

/* LINKS */

.auth-links{
margin-top:18px;
font-size:14px;
}

.auth-links a{
color:var(--accent);
font-weight:600;
text-decoration:none;
}

.auth-links a:hover{
text-decoration:underline;
}